body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

/* Declaring font colors */

:root {
    --lighten-yellow: #F2B138;
    --primary: #1A2B33;
    --secondary: #1E3640;
    --grey: #A9BEC8;
    --dark-cyan: #34C3BE;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: 550;
    color:#087629;
    cursor: pointer;
}

.cell:hover {
    border: 1px solid #852d2d;
}

.containter {
    background-color: #232222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.containter h1 {
    font-family: 'Raleway' , sans-serif;
    color: #f3f3f3;
    font-size: 3.5rem;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 20px 0;
}

#winner {
    font-size: 2rem;
    color: #f3f3f3;
    padding-top: 50px;
    
}

#starting-with {
    font-size: 1.5rem;
    color: #b574f9;
    padding-bottom: 50px;
    font-weight: 100;
    opacity: 0.8;
}

button {
    background-color: var(--lighten-yellow);
    border-radius: 10px;
    text-transform: uppercase;
    border-style: none;
    padding: 20px 20px;
    font-size: 24px;
    letter-spacing: .08em;
    color: var(--primary);
    font-weight: 700;
}